.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color:rgb(201, 116, 56);
    width:100%;
    height: 100vh;
}
.navbar {
    width: 100%; 
    display:  flex;
    justify-content: space-between;
    align-items: center; 
    padding:20px;
    & > div{
        & > h1 {
            margin: 0;
        }
    }
    & > div {
        & > a {
            margin: 4px;
            text-decoration: none;
            color: white;
            & > svg {
                vertical-align: bottom;
            }
        }
        & > a.active {
            border: 1px solid grey;
            background-color: lightgray;
        }
        
    }
}
.font10 {
    font-size: 10px;
}
.font400{
    font-weight: 400
}
.register-left-panel {
    width: 50%;
    padding:10px;

}
.register-right-panel {
    width: 50%;
    padding:10px;
}
.register__left-iconsText {
    display: flex;
    flex-direction: row;
}
.register__left-iconsText div {
    margin-bottom: 20px
}
.register__left-icons {
    font-size: 50px;
    margin-right:9px;
}
.register-right-panel input {
    height:28px;
    width: 100%;
    margin-bottom: 13px;
    border-radius: 8px;
    box-shadow: 5px;
    border: none;
}
.register-right-panel button {
    height:28px;
    border-radius: 8px;
    border: none;
}

.otpContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.otpInput {
    height: 42px;
    width: 42px;
    padding: 3px;
    margin-right: 40px;
    box-shadow: 7px;
    box-shadow: inset 0 0 5px 5px #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.btn-primary {
    height: 34px;
    color: white;
    background-color: rgb(21, 21, 103);
}
.otpFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > button {
        align-self: center;
        margin-top: 2rem;
    }
    & > a {
        align-self: end;
    }
}
.login {
    padding:10px;
    border-radius: 7px;
    box-shadow: 3px 3px 3px 3px white;
    background-color: white;
    text-align: center;
    justify-self: center;
    & > form {
    & > div {
        display: grid;
        margin-bottom: 14px;
    
    & > label {
        padding: 4px;
        text-align: left;
    }
    & > input {
        padding:4px;
        box-shadow: inset 0 0 5px 5px #fff;
        border: 1px solid lightgrey;;
        border-radius: 5px;
    }
    & > button {
        border: none;
        border-radius: 3px;
        padding: 4px;
        background-color: orange;
        margin: 20px
    }
}
}
}
.error {
    color: red;
}
.color{
    color: black;
}
.lockScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    & > span {
        margin-bottom: 20px;
    }
}
.lockScreen img {
    height: 40px;
    width: 40px;
    border-radius: 9px;
    margin-bottom: 20px;
}
.lockScreen input {
    padding:4px;
    box-shadow: inset 0 0 5px 5px #fff;
    border: 1px solid lightgrey;;
    border-radius: 5px;
    margin-bottom: 20px
}

